<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404</title>
</head>
<body class="flex items-center justify-center h-screen">
    <div class="w-full h-full max-w-4xl max-h-screen flex flex-col items-center justify-center space-y-4">
        <div class="text-center">
            <h1 class="text-lg md:text-xl xl:text-2xl  font-bold">404</h1>
            <a href="/" class="text-sm md:text-base xl:text-lg underline">regresar</a>
        </div>
        <div id="iframe-container" class="w-full h-full max-w-4xl max-h-screen">
            <iframe title="Lumber Jack Game" src="https://tbot.xyz/lumber/" id="gameIframe" class="w-full h-full" frameborder="0"></iframe>
        </div>
    </div>
</body>
</html>
