---
import Mainlayout from "../layouts/mainlayout.astro";
import Main from "../sections/main.astro";
import Section1 from "../sections/section1.astro";
import Section2 from "../sections/section2.astro";
import Section3 from "../sections/section3.astro";
import Section4 from "../sections/section4.astro";
const data = {
  titulo: "My Inspirations",
  subtitulo: "I don't say it, my music does",
  categorias: [
    "strange",
    "pickles",
    "memes",
    "improvised",
    "milei"
  ]
};

const cards = [
  {
    emoji: "🎤",
    title: "sing",
    description: "I sing because music lets me express what I feel. Every note is a connection with the soul of my listeners, a way to share emotions and bring my heart to the stage.",
    imageUrl: "/img/cantar.png",
  },
  {
    emoji: "🎼",
    title: "compose",
    description: "Composing is my way of turning thoughts and feelings into melodies. Every song is a story I share, a piece of me in the form of music.",
    imageUrl: "/img/componiendo.jpeg",

  },
  {
    emoji: "🎶",
    title: "play",
    description: "Playing brings the music I feel to life. Each note connects me to the rhythm of life and lets me share the energy music brings to the soul.",
    imageUrl: "/img/tocando.jpeg",
  }
];


---

<Mainlayout lang="en" titulo="I'm Dot Dager">
  <Main>
    <slot slot="saludo"> Hi, I'm </slot>
    <slot slot="descripcion">
      Senior full-stack/lead software developer with a passion for SOLID code
      and amazing products.
    </slot>
    <slot slot="github"> View Projects </slot>
    <slot slot="email"> Email </slot>
  </Main>

  <Section1 cards={cards} data={data}>
    <slot slot="instrumentos">My heart is a jar and music, my pickles</slot>
    <slot slot="descripcion">"It’s done out of love, you owe me nothing. UwU"</slot>
  </Section1>
  <Section2>
    <slot slot="playlist">Pickled in content creation</slot>
    <slot slot="playlist2">I have over 2 years of experience creating content, having built a strong and continuously growing community</slot>
    <slot slot="playlist3">Coming soon, <span class="text-primary">blue</span> page</slot>
    <slot slot="playlistitulo1">My YouTube Channel</slot>
    <slot slot="playlistitulo2">My Spotify Channel</slot>
    <slot slot="playlistext1">Check out my incredible content as a Full Stack, Senior Software Developer</slot>
    <slot slot="playlistext2">Listen to my songs made with creativity, love, and passion</slot>
  </Section2>
  <Section3 >
    <slot slot="titulocode">for something I'm a Senior</slot>
    <slot slot="descripcioncode">With over 5 years of experience in software development, I specialize in scalable and modern architectures.</slot>
    <slot slot="lenguajes">My Technologies</slot>
  </Section3>
  <Section4
  name1="Name"
  name2="Lastname"
  mailto1="Email"
  mailto2="email@example.com"
  text1="Message"
  text2="Tell me about your project..."
  clause="en"
  submit1="Verify..."
  submit2="Send"
  alerta1="please complete the verification Turnstile"
  alerta2="Form sent successfully!"
  alerta3="Error sending the form"
  alerta4="Error connecting to the server"
  >
    <slot slot="formulario">Form</slot>
    <slot slot="descripcionform">Send me a message</slot>
  </Section4>
</Mainlayout>
