---
import Codigos from "../components/svelte/codigos.svelte"
---

<section class="pt-20">

        <div class="text-center mb-2">
            <h2 class="text-xl md:text-2xl xl:text-3xl text-complementary-primary font-bold mb-4">
             <slot name="titulocode"/>
            </h2>
            <p class="text-sm md:text-base xl:text-lg">
                <slot name="descripcioncode"/>
            </p>
        </div>

            <Codigos client:load/>

</section>